<!DOCTYPE html>
<html>
<head>
	<title>Veterinary Treatment</title>
	<link rel="stylesheet" type="text/css" href="style2.css">
</head>
<style>
      body {
        background-image: url('image/bg3.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
       {% include 'css/style3.css' %}
    </style>
<body>
	<header>
		<div class="logo">
			<img src="static/image/veterinarian.png" height=100px" width="100px" alt="Veterinary Treatment Logo">
		</div>

 <h3><b>Veterinary Treatment</b></h3>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/admin">Admin</a></li>
				<li><a href="/patient">Booking Appointment</a></li>
				<li><a href="/about">About Us</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
		</nav>
	</header>
	

	<center><h2 class="title">About Us</h2></center>
	
 <main>

    <p>Welcome to My Veterinary Clinic, where we provide high-quality care for your furry family members. Our experienced team of veterinarians and support staff are dedicated to ensuring the health and well-being of your pets. We offer a wide range of services, from routine check-ups and vaccinations to surgical procedures and emergency care.</p>
    <p>At My Veterinary Clinic, we understand that your pets are an important part of your family. That's why we treat them with the same love and care that we would want for our own pets. We strive to create a welcoming and comfortable environment for both you and your pet.</p>
    <p>Our clinic is equipped with state-of-the-art facilities and the latest technology to ensure that your pet receives the best possible care. We also offer a variety of pet products and supplies to help keep your pet healthy and happy.</p>
  </main>


</body>
</html>
