<!DOCTYPE html>
<html>
<head>
	<title>Veterinary Treatment</title>
	<link rel="stylesheet" type="text/css" href="css/style2.css">
</head>
<style>
      body {
        background-image: url('image/bg3.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
      {% include 'css/style2.css' %}
    </style>
<body>
	<header>
		<div class="logo">
			<img src="static/image/veterinarian.png" height=100px" width="100px" alt="Veterinary Treatment Logo">
		</div>
		
 <h3><b>Veterinary Treatment</b></h3>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/admin">Admin</a></li>
				
				<li><a href="/">Logout</a></li>
			</ul>
		</nav>
	</header>

	<center><h3 class="title">View User-Login Detail's</h3></center>
	<form  action="" method="post" name="form1" id="form1">
 
  <table width="60%" height="127" align="center">
    <tr>
      <td>Id</td>
      <td>Name </td>
      <td>Contact</td>
      <td>Email</td>
      <td>Address</td>
      <td>Username</td>
        <td>Password</td>
      <td>Delete</td>
      <td>Edit</td>
    </tr>
	 {% for row in items %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ row[4] }}</td>
      <td>{{ row[5] }}</td>
        <td>{{row[6]}}</td>
      <td><a href="admin_view_delete1/{{ row[0] }}">delete</a></td>
      <td><a href="admin_view_edit2/{{ row[0] }}">edit</a></td>
    </tr>
	 {% endfor %}
  </table>
</form>
 
 
</body>
</html>
