<!DOCTYPE html>
<html xmlns:height="http://www.w3.org/1999/xhtml">
<head>
	<title>Veterinary Treatment</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<style>

		{

        background-image: url("/image/bg3.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
	  {% include 'css/style.css' %}


    </style>
<body>
	<header>
		<div class="logo">
			<img src="static/image/veterinarian.png" height=100px" width="100px" alt="Veterinary Treatment">
		</div>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/admin">Admin</a></li>
				<li><a href="/patient">Booking Appointment</a></li>
				<li><a href="/about">About Us</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="banner">
			<h1>Welcome to Veterinary Treatment</h1>
			<p>Where your pet's health is our top priority</p>
		</section>
		<center><section class="services">
			<h2>Our Services</h2>
			<p>We offer a wide range of veterinary services to keep your pets healthy and happy.</p>
			<center>
				<p>Wellness exams and vaccinations</p>
				<p>Surgery and dentistry</p>
				<p>Diagnostic services, including x-rays and blood work</p>
				<p>Pharmacy and prescription diets</p>
				Emergency and urgent care </center>
			
		</section>

			<h2>Make an Appointment</h2>
			<p>Call us at <strong>+91 8754338390</strong> or use our online form to schedule an appointment today.</p>
			<a href="/patient" class="button">Make an Appointment</a>
		</center>
	</main>

	
</body>
</html>
