<!DOCTYPE html>
<html>
<head>
	<title>Small Animal Services Veterinary Treatment</title>
	<link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
	<header>
		<div class="logo">
			<img src="image/veterinarian.png" height:"100px" width="100px" alt="Veterinary Treatment Logo">
		</div>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>

	
</body>
</html>
